html, body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #0b0b0b;
  color: #fff;
}

input, textarea {
  background: #1e1e1e;
  color: #fff;
  border: none;
  padding: 8px;
  border-radius: 6px;
}

input:focus, textarea:focus {
  outline: 2px solid #d4af37;
}

button {
  background: #d4af37;
  color: #000;
  font-weight: bold;
  padding: 10px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #b9972f;
}
